<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FaceDetectionGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FaceDetectionGUI.default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <FaceDetectionGUI.Properties.Settings>
            <setting name="DefaultClassifierFile" serializeAs="String">
                <value>Data/Classifier/Default_Classifiers.xml</value>
            </setting>
            <setting name="DefaultRecognizerFile" serializeAs="String">
                <value>Data/Recognizer/Default_Recognizer.xml</value>
            </setting>
            <setting name="DefaultIdentitiesFile" serializeAs="String">
                <value>Data/Saved/Identities.xml</value>
            </setting>
            <setting name="DefaultCacheFolder" serializeAs="String">
                <value>Data/Cache/</value>
            </setting>
        </FaceDetectionGUI.Properties.Settings>
        <FaceDetectionGUI.default>
            <setting name="IdentityFile" serializeAs="String">
                <value>Data/Saved/Identities.xml</value>
            </setting>
            <setting name="RecognizerFile" serializeAs="String">
                <value>Data/Recognizer/Default_Recognizer.xml</value>
            </setting>
            <setting name="ClassifiersFile" serializeAs="String">
                <value>Data/Classifier/Default_Classifiers.xml</value>
            </setting>
            <setting name="Cache" serializeAs="String">
                <value>Data/Cached/</value>
            </setting>
        </FaceDetectionGUI.default>
    </userSettings>
</configuration>